---
import BaseLayout from "../layouts/BaseLayout.astro";
const pageTitle = "About";
const pageDescription =
  "Richmann - Product designer - designing clean, thouhtful user experiences.";
const ogURL = "https://design.richmnn.com/about";
const keywords =
  "Richmann Addai, product design portfolio, UX design, UI designer Ghana, user interface design, digital product design, creative designer, Figma expert, clean design systems, product strategy, SaaS designer";
const gap = 16;
---

<BaseLayout
  pageTitle={pageTitle}
  pageDescription={pageDescription}
  ogURL={ogURL}
  keywords={keywords}
  gap={gap}
>
  <!-- Header -->
  <div class="w-full text-[16px]">
    <p class="italic text-tertiary">
      Questions Addressing What I Think, How I Work, Why I Build
    </p>
    <h1 class="text-primary font-mr font-semibold">
      A Simple, honest, introspective.
    </h1>
  </div>

  <!-- Glimpse of my work -->
  <div
    class="w-full flex flex-col gap-[24px] text-[14px] font-semibold font-mr"
  >
    <hr />
    <div class="flex flex-col gap-[48px]">
      <h2 class="text-secondary">Before that - A glimpse at my work</h2>
      <div
        class="w-full h-[410px] bg-bgsecondary flex items-center justify-center"
      >
        <p class="text-tertiary text-[12px]">coming soon</p>
      </div>
    </div>
  </div>

  <!-- Q1 -->
  <div
    class="w-full flex flex-col gap-[24px] text-[14px] font-mr font-semibold"
  >
    <hr />
    <div class="flex flex-col gap-[48px]">
      <h2 class="text-secondary">
        Q1: What does your design process look like?
      </h2>
      <p class="text-tertiary">
        Honestly, I’d say my design process is somewhere between organized chaos
        and inspired recycling. I don’t believe in rigid frameworks. Sometimes
        I’m sketching low-fidelity ideas, sometimes I’m jumping straight into
        Figma with a reference or an old file I can remix. A lot of my process
        is built on recognizing patterns — a layout I’ve seen before, a
        structure that worked in the past or a component I’ve used 10 times that
        still works. I’m mostly not reinventing the wheel, only picking and
        choosing when to reinvent it—and maybe make it a little prettier.
      </p>
    </div>
  </div>

  <!-- Q2 -->
  <div
    class="w-full flex flex-col gap-[24px] text-[14px] font-mr font-semibold"
  >
    <hr />
    <div class="flex flex-col gap-[48px]">
      <h2 class="text-secondary">
        Q2: Do you follow a set methodology like Design Thinking or Double
        Diamond?
      </h2>
      <p class="text-tertiary">
        Not really. I mean, I get the value of those models, but I treat them
        more like reference points I use to build my own custom roadmaps. Each
        project has its own texture, and forcing every idea through the same
        funnel might not be very realistic. Sometimes you start with research,
        sometimes you just know what needs to be done and jump into prototyping.
        It’s all fluid.
      </p>
    </div>
  </div>

  <!-- Q3 -->
  <div
    class="w-full flex flex-col gap-[24px] text-[14px] font-mr font-semibold"
  >
    <hr />
    <div class="flex flex-col gap-[48px]">
      <h2 class="text-secondary">
        Q3: How do you balance creativity and constraints?
      </h2>
      <p class="text-tertiary">
        This is where my frontend knowledge is advantageous. I’m always
        thinking, "Can this be built? Will this scale? Is this
        performance-friendly?" So even while I’m pushing the visuals or doing
        something experimental, I have this little dev whisper in my ear asking
        these questions. Constraints don’t limit me—they actually sharpen the
        work and make collaboration better.
      </p>
    </div>
  </div>

  <!-- Q4 -->
  <div
    class="w-full flex flex-col gap-[24px] text-[14px] font-mr font-semibold"
  >
    <hr />
    <div class="flex flex-col gap-[48px]">
      <h2 class="text-secondary">Q4: Do you have a signature style?</h2>
      <p class="text-tertiary">
        Nope. I kind of avoid that on purpose. I’m not trying to inject me into
        every project(sometimes I do). But the goal is mostly to extract the
        essence of the idea, the brand and the people behind it—not make it look
        like it came out of my personal template. That said, my only “style” is
        simplicity, intention, and a little edge where it fits. I work hard to
        get to the kind of simplicity that’s not just minimal, but meaningful.
        Disappearing into the background and letting the brand speak. That’s the
        goal. Not aesthetics for aesthetics’ sake. But something well researched
        and built so thoughtfully—even the back panel nobody sees is solid wood.
      </p>
    </div>
  </div>

  <!-- Q5 -->
  <div
    class="w-full flex flex-col gap-[24px] text-[14px] font-mr font-semibold"
  >
    <hr />
    <div class="flex flex-col gap-[48px]">
      <h2 class="text-secondary">
        Q5: What role does speed play in your process?
      </h2>
      <p class="text-tertiary">
        <span class="block"
          >I like to get to something real, fast. A screen, a flow, a
          mock—something we can look at and respond to. I don’t believe in
          waiting for things to be perfect before sharing. I push for speed
          because momentum matters. I like to test ideas, prototype quickly, and
          keep moving. If something flops, cool—we haven’t wasted weeks
          perfecting the wrong thing.</span
        >
        <span class="block"
          >This might be a leftover instinct from the tech side of me. But it’s
          also philosophical. You need to keep going to get to the good stuff.
          Jobs once said, “The first solutions you come up with are very
          complex... but if you keep going and peel the layers, you get to
          something elegant.” A simple approach: build fast, learn fast, refine.
          Calculated speed and not just haste to get to mediocre results.</span
        >
      </p>
    </div>
  </div>

  <!-- Q6 -->
  <div
    class="w-full flex flex-col gap-[24px] text-[14px] font-mr font-semibold"
  >
    <hr />
    <div class="flex flex-col gap-[48px]">
      <h2 class="text-secondary">Q6: Where do you draw inspiration from?</h2>
      <p class="text-tertiary">
        <span class="block"
          >Everywhere. Conversations, old books, random UI patterns I screenshot
          at 2am. But mostly—I draw from context. I ask, “What makes sense here?
          What’s the right tone for this?” I don’t wait for inspiration to
          strike like lightning. I go looking for it.</span
        >
        <span class="block"
          >Steve once said (maybe i’m quoting Steve a little too much but bear
          with me😂), “Creativity is just connecting things.” Looking back at
          some of the things I’ve designed, I realize most of it didn’t come
          from thin air. It came from noticing things, absorbing them, remixing
          them with intention.</span
        >
      </p>
    </div>
  </div>

  <!-- Q7 -->
  <div
    class="w-full flex flex-col gap-[24px] text-[14px] font-mr font-semibold"
  >
    <hr />
    <div class="flex flex-col gap-[48px]">
      <h2 class="text-secondary">
        Q7: How does your coding background influence your design?
      </h2>
      <p class="text-tertiary">
        Massively. Knowing how code works means I naturally design with
        constraints in mind. My designs are structured, responsiveness aware,
        and have implementation realities baked in from the jump. The fluency in
        both languages helps me speak between dev and design without needing a
        translator. Performance, hierarchy, spacing— all of this is the
        experience and the experience is the product.
      </p>
    </div>
  </div>

  <!-- Q8 -->
  <div
    class="w-full flex flex-col gap-[24px] text-[14px] font-mr font-semibold"
  >
    <hr />
    <div class="flex flex-col gap-[48px]">
      <h2 class="text-secondary">
        Q8: Do you work better alone or with a team?
      </h2>
      <p class="text-tertiary">
        I thrive in both. Solo, I move fast, explore, and go deep. With a team,
        I grow. I love bouncing ideas off people, getting challenged, and seeing
        blind spots. The sweet spot is usually starting alone to generate
        momentum, then syncing with others to refine and improve.
      </p>
    </div>
  </div>

  <!-- Q9 -->
  <div
    class="w-full flex flex-col gap-[24px] text-[14px] font-mr font-semibold"
  >
    <hr />
    <div class="flex flex-col gap-[48px]">
      <h2 class="text-secondary">
        Q9: What happens when a project doesn’t go as planned?
      </h2>
      <p class="text-tertiary">
        I’m okay with scrapping things that don’t work. I’m not perfect. If
        something’s not sticking, we pivot. I’ve learned not to get attached too
        early. Process is messy, and that’s normal. The goal is always forward.
      </p>
    </div>
  </div>

  <!-- Q10 -->
  <div
    class="w-full flex flex-col gap-[24px] text-[14px] font-mr font-semibold"
  >
    <hr />
    <div class="flex flex-col gap-[48px]">
      <h2 class="text-secondary">
        Q10: How did your hybrid role as a designer/frontend dev come about?
      </h2>
      <p class="text-tertiary">
        <span class="block"
          >I was originally on the software engineering track—deeply drawn to
          the idea of building systems that solve real problems and create real
          value. That builder instinct has always been core to me.</span
        >
        <span class="block"
          >But early on, I hit a wall. I realized I could build functional
          things but those functional things had interfaces that needed to be
          designed and not just templated. So I turned to studying design—almost
          as a necessity. I wanted to be able to cover the full spectrum from
          design to dev solo. I picked up a Figma course and the journey to self
          taught designer began. It slowed down my software engineering track
          slightly (because you’re learning two different things - technical and
          creative - simultaneously) but I have zero regrets because now I don’t
          just think like a developer—I think like a product.
        </span>
        <span class="block"
          >That’s how the “hybrid” role happened. Not by title, but by
          necessity. And I’ve leaned into it quite well ever
          since.</span
        >
      </p>
    </div>
  </div>

  <!-- Q11 -->
  <div
    class="w-full flex flex-col gap-[24px] text-[14px] font-mr font-semibold"
  >
    <hr />
    <div class="flex flex-col gap-[48px]">
      <h2 class="text-secondary">
        Q11: What do you value most in collaborators?
      </h2>
      <p class="text-tertiary">
        Honesty. The ability to say "I don’t think this would work but let’s
        figure it out." I appreciate working with devs who care about the
        experience, with PMs who respect creative mess, and with founders who
        trust but also challenge. The best work I’ve done came from spaces where
        everyone had a stake and wasn’t afraid to speak up, learn and challenge
        standard conventions.
      </p>
    </div>
  </div>

  <!-- Q12 -->
  <div
    class="w-full flex flex-col gap-[24px] text-[14px] font-mr font-semibold"
  >
    <hr />
    <div class="flex flex-col gap-[48px]">
      <h2 class="text-secondary">
        Q12: What's one thing people misunderstand about design?
      </h2>
      <p class="text-tertiary">
        <span class="block"
          >That it has to be flashy or new to be good. Sometimes the best design
          is invisible.</span
        >
        <span class="block"
          >Sometimes it’s boring. That’s okay. Design isn’t always the hero—it’s
          the glue. The system. The thing that makes everything else make sense.</span
        >
      </p>
    </div>
  </div>

  <!-- Here’s how it all comes together -->
  <div
    class="w-full flex flex-col gap-[24px] text-[14px] font-mr font-semibold"
  >
    <hr />
    <div class="flex flex-col gap-[48px]">
      <h2 class="text-secondary">Here’s how it all comes together</h2>
      <p class="text-tertiary flex flex-col gap-[24px]">
        <span class="block"
          >This mindset—of thinking in systems, moving between pixels and code,
          and focusing on how things feel and function—is baked into everything
          I work on.</span
        >
        <span class="block">
          From brands finding their first visual identity to products designed
          to scale, I approach each project like a collaboration between
          designer, developer and stakeholders … because that’s what it is.</span
        >
        <span class="block"
          ><a href="/work" class="underline text-primary hover:text-secondary">
            Have a look at some of my selected work.</a
          ></span
        >
      </p>
    </div>
  </div>
</BaseLayout>
