---
import BaseLayout from "../layouts/BaseLayout.astro";
import Filter from "../assets/Icons/Filter.svg";

const pageTitle = "Blog";
const pageDescription =
  "Richmann's blog - A sandbox of thoughts, lessons, and experiments";
const ogURL = "https://design.richmnn.com/blog";
const keywords =
  "Richmann Addai, product design blog, UX design, UI/UX insights, design process, design systems, web development, creative thinking, case studies, design career, software design";
const gap = 16;
---

<BaseLayout
  pageTitle={pageTitle}
  pageDescription={pageDescription}
  ogURL={ogURL}
  keywords={keywords}
  gap={gap}
>
  <!-- Header -->
  <div class="w-full text-[16px]">
    <p class="italic text-tertiary">Learning out loud - Coming Soon</p>
    <h1 class="text-primary font-mr font-semibold">
      A sandbox of thoughts, lessons, and experiments
    </h1>
  </div>

  <!-- change hidden to flex when you're ready to show the blog -->
  <div class="hidden flex-col gap-[48px] w-full">
    <div class="flex w-full justify-end">
      <button
        class="w-fit flex items-center gap-[8px] text-secondary text-[12px] font-mr"
      >
        <p>filter</p>
        <Filter />
      </button>
    </div>

    <!-- What i'm learning -->
    <div class="w-full flex flex-col gap-[12px] font-mr font-semibold">
      <div class="flex flex-col gap-[6px]">
        <h2 class="text-[14px] text-secondary">
          What I’m Learning → “Notes from the field”
        </h2>
        <p class="text-tertiary text-[12px]">
          Design growth, self-teaching, and reflections from behind the screens
        </p>
      </div>
      <hr />
      <div class="flex flex-col gap-[12px]">
        <div class="w-full flex justify-between">
          <p class="text-secondary text-[14px]">
            1. Design isn’t hard. Thinking clearly is.
          </p>
          <p class="text-tertiary text-[12px]">16 - 04 - 25</p>
        </div>
        <hr />
      </div>
    </div>
  </div>
</BaseLayout>
