---
import BaseLayout from "../layouts/BaseLayout.astro";
const pageTitle = "Now";
const pageDescription = "Now - my present reality";
const ogURL = "https://design.richmnn.com/now";
const keywords =
  "Richmann Addai, product design portfolio, UX design, UI designer Ghana, user interface design, digital product design, creative designer, Figma expert, clean design systems, product strategy, SaaS designer";
const gap = 32;
---

<BaseLayout
  pageTitle={pageTitle}
  pageDescription={pageDescription}
  ogURL={ogURL}
  keywords={keywords}
  gap={gap}
>
  <!-- Header -->
  <div class="w-full text-[16px]">
    <p class="italic text-tertiary">Updated 10th April 2025</p>
    <h1 class="text-primary font-mr font-semibold">Now - my present reality</h1>
  </div>

  <!-- Work -->
  <div
    class="w-full flex flex-col gap-[24px] text-[14px] font-mr font-semibold"
  >
    <hr />
    <div class="flex flex-col gap-[48px]">
      <h2 class="text-secondary">Work</h2>
      <p class="text-tertiary">
        Currently designing products and engineering software at <a
          target="_blank"
          href="https://utopiatech.africa/"
          class="underline text-primary hover:text-secondary">Utopia Tech</a
        >, with freelance design and dev projects on the side. Always on the
        lookout for challenges that push me forward, and continuously refining
        my skills to meet them head-on.
      </p>
    </div>
  </div>

  <!-- Learning -->
  <div
    class="w-full flex flex-col gap-[24px] text-[14px] font-mr font-semibold"
  >
    <hr />
    <div class="flex flex-col gap-[48px]">
      <h2 class="text-secondary">Learning</h2>
      <p class="text-tertiary">
        Studying towards mastering advanced software engineering concepts and
        new ways to build better user interfaces and experiences. I’ve also
        picked up books on communication, business & finance and
        self-development to round things out.
      </p>
    </div>
  </div>

  <!-- Fitness -->
  <div
    class="w-full flex flex-col gap-[24px] text-[14px] font-mr font-semibold"
  >
    <hr />
    <div class="flex flex-col gap-[48px]">
      <h2 class="text-secondary">Fitness</h2>
      <p class="text-tertiary">
        I stick to a simple home calisthenics routine - upper body, lower body,
        rest, repeat. Keeps me active and energized for all the designing and
        coding. I’ve got plans to eventually hit the gym and chase a fitness
        goal that’s hiding somewhere in one of my Pinterest boards
      </p>
    </div>
  </div>

  <!-- Travel & Eats -->
  <div
    class="w-full flex flex-col gap-[24px] text-[14px] font-mr font-semibold"
  >
    <hr />
    <div class="flex flex-col gap-[48px]">
      <h2 class="text-secondary">Travel & Eats</h2>
      <p class="text-tertiary">
        After a year of being mostly indoors, I’m making a conscious effort to
        explore more - new places, new foods, new people. Maybe even a vacation
        if I’m lucky. Catch the journey on my <a
          href="https://instagram.com/big.richhhh"
          target="_blank"
          class="text-primary underline hover:text-secondary"
        >
          Instagram
        </a>
      </p>
    </div>
  </div>

  <!-- Experiments & Odd Ideas -->
  <div
    class="w-full flex flex-col gap-[24px] text-[14px] font-mr font-semibold"
  >
    <hr />
    <div class="flex flex-col gap-[48px]">
      <h2 class="text-secondary">Experiments & Odd Ideas</h2>
      <p class="text-tertiary">
        Always cooking up something - whether it’s SaaS concepts or diving into
        the kitchen to conquer my top chef aspirations. It’s the little things
        that keep life interesting.
      </p>
    </div>
  </div>
</BaseLayout>
