---
import BaseLayout from "../../layouts/BaseLayout.astro";
import ImageDisplay from "../../components/ImageDisplay.astro";
import SliderImageDisplay from "../../components/SliderImageDisplay.astro";
import RelaySlidePreview1 from "../../components/relay/RelaySlidePreview1.astro";
import RelaySlidePreview2 from "../../components/relay/RelaySlidePreview2.astro";
import RelaySlidePreview3 from "../../components/relay/RelaySlidePreview3.astro";
const pageTitle = "case study for relay";
const gap = 16;
---

<BaseLayout pageTitle={pageTitle} gap={gap}>
  <!-- Header -->
  <div class="w-full text-[16px]">
    <p class="italic text-tertiary">2025</p>
    <h1 class="text-secondary font-mr font-semibold md:text-nowrap">
      Relay — Making Bulk SMS Simple for Businesses
    </h1>
  </div>

  <!-- Main Image -->
  <ImageDisplay
    src="/work-images/relay/relay1.jpg"
    alt="Relay image"
    label=""
    showLabel={false}
  />

  <!-- Why Relay? -->
  <div
    class="w-full flex flex-col gap-[24px] text-[14px] font-mr font-semibold"
  >
    <hr />
    <div class="flex flex-col gap-[48px]">
      <h2 class="text-secondary">Why Relay?</h2>
      <p class="text-tertiary">
        The company(Utopia Tech) wanted to tap into new revenue streams by
        expanding its SaaS offerings. An opportunity was seen to create a bulk
        SMS platform that could serve businesses looking to simplify their
        communications with customers. After researching existing platforms,
        partnerships were established to leverage their APIs and create a
        tailored service that worked better for our needs. The goal was to
        design the companies own custom experience that wasn’t just functional,
        but also simple to use. That’s where I came in. I was tasked to design a
        cleaner interface that anyone could navigate, whether they were seasoned
        marketers or small business owners sending their first bulk SMS.
      </p>
      <SliderImageDisplay
        src="/work-images/relay/relaydashboard.jpg"
        alt="Relay Dashboard"
        label=""
        showSTV={false}
      />
    </div>
  </div>

  <!-- Did you do any research? -->
  <div
    class="w-full flex flex-col gap-[24px] text-[14px] font-mr font-semibold"
  >
    <hr />
    <div class="flex flex-col gap-[48px]">
      <h2 class="text-secondary">Did you do any research?</h2>
      <p class="text-tertiary">
        We did some research to understand the space and where existing
        platforms were falling short. We examined a few popular bulk SMS
        services in Ghana to see what worked and where they could improve design
        wise. We didn’t dive into extensive user interviews at this stage, but
        we did look into customer feedback on those platforms, identifying
        common pain points like cluttered interfaces and and the possibility of
        simplifying certain workflows. This gave us a direction for the
        design—keep it simple, intuitive, and focused on what users actually
        needed.
      </p>
    </div>
  </div>

  <!-- What was broken? -->
  <div
    class="w-full flex flex-col gap-[24px] text-[14px] font-mr font-semibold"
  >
    <hr />
    <div class="flex flex-col gap-[48px]">
      <h2 class="text-secondary">What was broken?</h2>
      <p class="text-tertiary">
        Existing bulk SMS platforms were mostly cluttered with some having
        inconsistent UI. You could tell the focus was more geared towards
        functionality against user experience. We wanted to fix that and
        consider it in the design of our product by simplifying the interface
        and the processes—no more clutter, just the tools that were most
        important for businesses to send, track, and manage SMS campaigns with
        ease.
      </p>
      <div class="flex self-center w-full xl:w-fit">
        <RelaySlidePreview1 />
      </div>
    </div>
  </div>

  <!-- Why did you build it this way? -->
  <div
    class="w-full flex flex-col gap-[24px] text-[14px] font-mr font-semibold"
  >
    <hr />
    <div class="flex flex-col gap-[48px]">
      <h2 class="text-secondary">Why did you build it this way?</h2>
      <p class="text-tertiary">
        We wanted to build something that didn’t just work but worked well for
        the user. The approach was simple: create a simple, no-frills platform
        where businesses could get in, create their campaigns, and get results
        without being bogged down by too many options or a steep learning curve.
        We kept the user in mind at every step, ensuring the interface was
        clean, with only the essential actions highlighted on the dashboard. It
        needed to feel like a tool businesses would actually enjoy using, not
        just another software to figure out.
      </p>
    </div>
  </div>

  <!-- How did you approach the design? -->
  <div
    class="w-full flex flex-col gap-[24px] text-[14px] font-mr font-semibold"
  >
    <hr />
    <div class="flex flex-col gap-[48px]">
      <h2 class="text-secondary">How did you approach the design?</h2>
      <p class="text-tertiary">
        I worked to create a dashboard with clear, actionable buttons and
        minimal distractions. The idea was to make sure that when a user logged
        in, they immediately knew what to do next—whether that was sending a
        campaign, viewing a report, or scheduling future messages. I focused on
        a layout that felt calm and organized, with easy-to-read typography and
        a straightforward color palette to guide the user through the app. Every
        feature was designed with one thing in mind: simplicity.
      </p>
      <div class="flex self-center w-full xl:w-fit">
        <RelaySlidePreview2 />
      </div>
    </div>
  </div>

  <!-- What’s inside? -->
  <div
    class="w-full flex flex-col gap-[24px] text-[14px] font-mr font-semibold"
  >
    <hr />
    <div class="flex flex-col gap-[48px]">
      <h2 class="text-secondary">What’s inside?</h2>
      <ul class="text-tertiary list-disc pl-[18px]">
        <li>
          Campaign Creation: A straightforward interface to design, personalize,
          and schedule SMS campaigns.
        </li>
        <li>
          Scheduling & Automation: Send messages at optimal times and set up
          recurring campaigns for consistency.
        </li>
        <li>
          Reporting: Basic, easy-to-understand reports on campaign information
          so businesses can see their campaign details without the jargon.
        </li>
        <li>
          Scalable for Growth: The ability to scale as businesses grow, with
          features that allow for easy upgrades.
        </li>
      </ul>
      <div class="flex self-center w-full xl:w-fit mb-[64px]">
        <RelaySlidePreview3 />
      </div>
      <ImageDisplay
        src="/work-images/relay/colors.jpg"
        alt="Colors"
        label="Colors"
        showLabel={true}
      />
      <ImageDisplay
        src="/work-images/relay/typography.jpg"
        alt="Typography"
        label="Typography"
        showLabel={true}
      />
      <ImageDisplay
        src="/work-images/relay/buttons.jpg"
        alt="Buttons"
        label="Buttons"
        showLabel={true}
      />
      <SliderImageDisplay
        src="/work-images/relay/figmapreview.jpg"
        alt="Figma Preview"
        label="Figma Preview"
        showSTV={false}
      />
    </div>
  </div>

  <!-- Why does it matter? -->
  <div
    class="w-full flex flex-col gap-[24px] text-[14px] font-mr font-semibold"
  >
    <hr />
    <div class="flex flex-col gap-[48px]">
      <h2 class="text-secondary">Why does it matter?</h2>
      <p class="text-tertiary">
        A lot of businesses struggle with finding an SMS tool that’s both
        powerful and easy to use. Relay solves this by cutting through the
        clutter and giving users a very simple experience that makes bulk SMS
        campaigns feel less like a chore. It helps businesses save time, stay
        organized, and engage with their customers effectively, all while
        providing a simple interface that doesn’t overwhelm them with
        unnecessary options.
      </p>
    </div>
  </div>

  <!-- What did you learn? -->
  <div
    class="w-full flex flex-col gap-[24px] text-[14px] font-mr font-semibold"
  >
    <hr />
    <div class="flex flex-col gap-[48px]">
      <h2 class="text-secondary">What did you learn?</h2>
      <p class="text-tertiary">
        The biggest takeaway was the importance of simplicity. Even though we
        were creating a SaaS product, we didn’t need to overwhelm the user with
        too many features. The key was ensuring the platform was easy to use and
        gave businesses exactly what they needed without all the extra noise. I
        also learned how crucial it is to make things scalable from the start,
        so businesses can grow with the platform instead of outgrowing it.
      </p>
    </div>
  </div>

  <!-- What’s next? -->
  <div
    class="w-full flex flex-col gap-[24px] text-[14px] font-mr font-semibold"
  >
    <hr />
    <div class="flex flex-col gap-[48px]">
      <h2 class="text-secondary">What’s next?</h2>
      <p class="text-tertiary">
        The next steps are to test it out with real users, gather feedback, iterate where needed and proceed
        to development. We’ll refine the user experience based on their
        responses and eventually roll out more advanced features and products
        embedded into Relay. Ultimately, we want to make Relay not just a good
        SMS platform but a complete communication tool that businesses can rely
        on.
      </p>
    </div>
  </div>

  <!-- Links -->
  <div
    class="w-full flex flex-col gap-[24px] text-[14px] font-mr font-semibold"
  >
    <hr />
    <div class="flex flex-col gap-[48px]">
      <h2 class="text-secondary">Links</h2>

      <a
        target=""
        href=""
        class="underline text-primary hover:text-secondary"
        >Coming Soon</a
      >
    </div>
  </div>
</BaseLayout>
